<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav pt-3">
            <li class="nav-item text-center mx-4">
              <a
                class="nav-link"
                routerLink="/counter"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                ><h5>Counter</h5></a
              >
            </li>
            <li class="nav-item text-center mx-4">
              <a
                class="nav-link"
                routerLink="/todo-list"
                routerLinkActive="active"
                ><h5>Todo List</h5></a
              >
            </li>
            <li class="nav-item text-center mx-4">
              <a
                class="nav-link"
                routerLink="/form-financial"
                routerLinkActive="active"
                ><h5>Form Financial</h5></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
